@{ Layout = "layout.cshtml"; }
<!-- Single statement block -->
@{ var myMessage = "Hello World"; }

@{ Page.Title = "test title"; }

<!-- Inline expression or variable -->
<p>The value of myMessage is: @myMessage</p>

<!-- Multi-statement block -->
@{
var greeting = @"Welcome to our site!\";
var slash = "\\";
var weekDay = DateTime.Now.DayOfWeek;
var greetingMessage = greeting + " Today is: " + weekDay;
}
<p>The greeting is: @greetingMessage</p>
<p>@slash</p>

@RenderPage("footer.cshtml")

@{
    @:Some codess... @String.Concat("123" , "abc")
}